<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.min9359.creator_settlement_api.mapper.CreatorMapper">

    <select id="findAll" resultType="com.min9359.creator_settlement_api.domain.Creator">
        SELECT id, name, created_at
        FROM creator
        ORDER BY created_at
    </select>

    <select id="findById" resultType="com.min9359.creator_settlement_api.domain.Creator">
        SELECT id, name, created_at
        FROM creator
        WHERE id = #{id}
    </select>

</mapper>